section(class='home g-position--grid')
    .c-home
        span.c-home__title SAY HELLO TO SHOPNO!<br>AGENCY CORPARATE SHOPNO THEME
        button(class='g-btn c-home__btn') CONTACT US
        img(class='c-home__img' src='../../img/twi.gif')

    
